@media screen and (max-width:700px){
    *{
        padding: 0;
        margin: 0;
    }
     nav{
        flex-direction: column;
        height: 200px;
    }
    nav h1{
        display: grid;
        justify-content: center;
        margin: 10px,0;

    }
    nav ul{
        justify-content: center;
        width: 300px;
    }
    nav form{
        justify-content: center;
        margin-left: 100px;
    }
    .search{
        /* grid-auto-columns: auto; */
        justify-content:center;
        display: block;
        
    }
    .con{
        justify-content: center;
    }
    .con img{
        width: 300px;
    }
    .about {
        display: grid;
        justify-content: center;
    }
    .pur img{
        justify-content: center;
        width:300px;
        margin-left: 50px;
        padding-left: 50px;
    }
    .gri{
        display:block;

    }
    .pro{
        display: contents;
        justify-content: center;
    }
    .pro h1{
        display: flex;
        justify-content: center;
        width: 400px;
        margin-right: 40px;
    }
    /* .pro p{
        display:grid ;
        justify-content:center;
        /* flex-direction: column; */

     .ab{
        display:flex;
        justify-content:center;
        width: 300px;
        height: 300px;

    }
    .ab img{
        width: 200px;
        height: 300px;

    }
    .ab img{
        width: 200px;
        height: 300px;
    }
    
    .project{
        display:grid;
        justify-content:center;
    }
    .pr{
        display: grid;
        justify-content:center;
        align-items: center;
        padding: 10px;

    }

    .pr img{
        width: 300px;
        padding-top: 10px;
    }

    
        .bn{
            /* padding: 10px;; */
            margin-left: 120px;
            width: 100px;
            height: 39px;
            border-radius: 15px;
            background:rgb(66, 231, 176);
            color: white;
            margin-top: 10px;
        
        }
    
    footer{
        
        justify-content: center;
    }
    img:hover {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }
      .cart{
        display: grid;
          border: thin;
          width: fit-content;
          background: white;
      }
      


}
