@media screen and (max-width:700px){
<<<<<<< HEAD

    
=======
   
>>>>>>> 6c1c8a8ef77b7b4ea57a9de507e98946203d98b2
    nav{
        flex-direction: column;
        height: 200px;
    }
    nav h1{
        display: grid;
        justify-content: center;
        margin: 10px,0;

    }
    nav ul{
        justify-content: center;
        width: 300px;
    }
    nav form{
        justify-content: center;
        margin-left: 100px;
    }
    .search{
        /* grid-auto-columns: auto; */
        justify-content:center;
        display: block;
        
    }
    .con{
        justify-content: center;
    }
    .con img{
        width: 300px;
    }
    .about {
        display: grid;
        justify-content: center;
    }
    .pur img{
        justify-content: center;
    }
    .gri{
        display:block;

    }
    .pro{
        display: contents;
        justify-content: center;
    }
    .pro h1{
        display: flex;
        justify-content: center;
        width: 400px;
        margin-right: 40px;
    }
    /* .pro p{
        display:grid ;
        justify-content:center;
        /* flex-direction: column; */
     
<<<<<<< HEAD
    .ab{
=======
     .ab{
>>>>>>> 6c1c8a8ef77b7b4ea57a9de507e98946203d98b2
        display:flex;
        justify-content:center;
        width: 300px;
        height: 300px;
        
<<<<<<< HEAD
=======
    }
    .ab img{
        width: 200px;
        height: 300px;
>>>>>>> 6c1c8a8ef77b7b4ea57a9de507e98946203d98b2
    }
    .ab img{
        width: 200px;
        height: 300px;
    }
    
    .project{
        display:grid;
        justify-content:center;
    }
    .pr{
        display: grid;
        justify-content:contain;
        align-items: center;
        padding: 10px;

    }
<<<<<<< HEAD
    .pr img{
=======
     .pr img{
>>>>>>> 6c1c8a8ef77b7b4ea57a9de507e98946203d98b2
        width: 300px;
    }

    .bn{
        justify-content: center;
        /* display: flex;
        align-items: center; */
    }
    footer{
        
        justify-content: center;
    }



}
