.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    width: 30vw;
    height: 40px;
    display:flex;
    justify-content:flex-end;
    align-items:flex-end;
    border-radius: 5px;
    background:rgb(253, 252, 253);
}
.btn{
    padding: 10px;;
    margin:10px ;
    width: 60px;
    height: 39px;
    border-radius: 10px;
    background:rgb(245, 201, 6);
}
.con{
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background:rosybrown; */
}
.about{
    background:rgb(253, 242, 223);
    text-align: center;
} 
.about p{
    text-align: end;
    margin: 50px;
}
.pro {
    background: rgb(246, 244, 247);
}
.pro p{
    text-align: start;
}



.pur {
    padding: 0;
    margin: 0;
    width: 100px;
    display: flex;
    justify-content: flex-start;

   
}
.ab{
    padding: 0;
    margin: 0;
    width: 1400px;
    display: flex;
    justify-content: flex-end;
    border: 2px;
}
.projects{
    background:rgb(253, 242, 211);

}
.pr{
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    

}
.bn{
    /* padding: 10px;; */
    margin-left: 120px;
    width: 100px;
    height: 39px;
    border-radius: 15px;
    background:rgb(245, 201, 6);
    color: white;
    margin-top: 10px;

}
.cart{
    display: grid;
      border: thin;
      
      width: fit-content;
      background: white;
      background:rgb(145, 145, 81);
  }
img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  
